<!DOCTYPE html>
<html lang="en">


<head>
    <style>
        body {
            background-color: rgb(238, 230, 185);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
            color: rgb(154, 122, 174)
            
        }

        img {
            width: 400px;
            height: 500px;
        }


        nav {
            justify-content: center;
            width: 100%;
            height: 50px;


        }

        li {
            display: inline-block;
        }



        /* // imager save files locally into image file called static images */
        /* image folder same as css folder - same way you reference your css 
 img/  */
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" />
    <title>Coffee Menu </title>
</head>
<nav>
    <h1>Serendipity Cafe</h1>
    <a href="/coffee/new">Add New Coffee</a>
</nav>

<body>
    <ul>
        <li>
            <% coffees.forEach(coffees=> { %>
                <h3>
                    <%= coffees.name%>
                </h3>
                <a href="/coffee/<%= coffees._id %>"><img src=<%=coffees.img %>></a>
        </li>
        <% }) %>
    </ul>
</body>

</html>