<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
</head>

<body>
    <h1>New Page</h1>
    <form action="/coffee" method="POST">
        Name: <input type="text" name="name" required /></br/>
        Price: <input type="text" name="price" required/></br/>
        Flavors: <input type="text" name="flavors" required/></br/>
        Milk: <input type="text" name="milk" required/></br/>
        Toppings: <input type="text" name="toppings" required/></br/>
        Espresso: <input type="text" name="espresso" required/></br/>
        <input type="submit" name="" value="Add Coffee" /><br/>
        </form>
    </form>

</body>

</html>